*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: #3d3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: none;
    position: absolute;
}

.head{
    background-color: none;
    padding: 10px 10px;
    color: white;
    border-bottom: 2px solid #717171;
    font-family: 'Carter One', cursive;
}

.content{
    background-color: none;
    padding: 20px 0px;
}

form{
    background: none;
}

.form-container{
    background: none;
    padding: 10px 0px;
    border-bottom: 2px solid #717171;
    color: white;
}


.form-container input{
    background: none;
    padding: 5px;
    width: 300px;
    outline: none;
    border: none;
    color: white;
    font-family: 'Mali', cursive;
}

#btn{
    width: 100%;
    margin: 38px 0px;
    padding: 5px 5px;
    border-radius: 8px;
    background: none;
    border: 2px solid #717171;
    color: white;
    font-family: 'Mali', cursive;
    cursor: pointer;
}

#btn:hover{
    background: aliceblue;
    color: black;
    border: 2px solid #000000;
}

i{
    padding: 6px 4px;
}